CMakeCache.txt
CMakeFiles
Makefile
build
cmake_install.cmake
debian/files
debian/input-method-switcher
debian/input-method-switcher.debhelper.log
debian/input-method-switcher.substvars
obj-x86_64-linux-gnu
src/input-method-switcher
src/qt5/libproxyplatforminputcontextplugin.so
src/qt5/moc_context.cpp
src/qt5/moc_plugin.cpp
src/qt5/plugin_automoc.cpp
src/xml.h
