Source: input-method-switcher
Section: utils
Priority: optional
Maintainer: William Hua <william.hua@canonical.com>
Build-Depends: debhelper (>= 9),
               cmake,
               pkg-config,
               qtbase5-dev,
               qtbase5-private-dev,
               libglib2.0-dev,
Standards-Version: 3.9.5
Homepage: https://github.com/attente/input-method-switcher
#Vcs-Git: git://anonscm.debian.org/collab-maint/input-method-switcher.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/input-method-switcher.git;a=summary

Package: input-method-switcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Input method framework switcher
 It lets you switch input method frameworks without needing to restart your
 desktop session.
